<!DOCTYPE html>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <title>The RepeatCount</title>
    </head>
    <body>
        <div class="container">
        <h1>Count word!</h1>
        <p> {{ word_count }}</p>
    </div>
    </body>
</html>
