<!DOCTYPE html>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <title>The RepeatCount</title>
    </head>
    <body>
        <div class="container">
        <h1>Count word!</h1>

        <p class="bg-primary">Your Word:  <b>{{ user_word }}</b>   Count:   <b>{{ word_count }}</b> </p>


    </div>
    </body>
</html>
